 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.assign-to{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #20102B;
    margin-left: 25px;
    margin-top: 15px;

}
.person-drop{
    display: flex;
    gap: 20px;
    margin: 10px;
}
.dropdown{
    height: 40px;
    width: 78%;
    margin-bottom: 10px;
  border: 2px solid  #E2E2E2;
  margin-top: 10px;
}
select{
    border: none;
}
.person-opt{
    font-weight: 600;
    
    border: 2px solid red;
}

 

   

  

